@import "./colors/colors.css";

window {
  border-radius: 30px;
  opacity: 0.97;
  border: 2px solid @blue;

  background-color: @bg0;
}

label {
  font-family: "Fira Sans";
  font-size: 11pt;

  color: @fg;
}

image {
  color: @fg;
}

progressbar {
  border-radius: 2px;
}

progress {
  background-color: @blue;
}
