window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid #7aa2f7;

  background-color: #24283b;
}

label {
  font-family: "Fira Sans";
  font-size: 11pt;

  color: #c0caf5;
}

image {
  color: #c0caf5;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: #7aa2f7;
}
