@import './colors/colors.css';

window {
  border-radius: 30px;
  opacity: 0.97;
  border: 2px solid @primary;

  background-color: @background;
}

label {
  font-family: "Fira Sans";
  font-size: 11pt;

  color: @on_surface;
}

image {
  color: @on_surface;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @primary;
}
