@import 'colors/matugen.css';

* {
  border: none;
  border-radius: 0;
  font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  min-height: 0;
  border-radius: 50px;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: @surface;
  border: 1px solid rgba(100, 114, 125, 0.5);
  border-radius: 1rem;
}

tooltip label {
  color: white;
}

.modules-left {
  margin-left: 15px;
}

.modules-right {
  margin-right: 15px;
}

#custom-media,
#tray,
#language,
#custom-expand-icon,
#bluetooth,
#custom-screenrecording-indicator,
#custom-updates,
#custom-vpn,
#custom-launcher,
#clock,
#workspaces,
#custom-notification,
#custom-media,
#custom-pacman,
#custom-weather,
#pulseaudio,
#battery,
#network,
#power-profiles-daemon {
  background-color: #121212;
  margin-right: 10px;
  padding: 0 10px;
  background-color: @surface;
  color: @primary;
}

#power-profiles-daemon {
  margin: 0;
}

#custom-launcher {
  font-size: 24px;
}

#workspaces {
  padding: 8px 5px;
  border-radius: 16px;
  background-color: @surface;
  color: @primary;
}

#workspaces button {
  padding: 0px 6px;
  margin: 0px 3px;
  border-radius: 50px;
  color: transparent;
  transition: all 0.3s ease-in-out;
  background-color: @on_secondary;
}

#workspaces button.active {
  background-color: @primary;
  color: @surface;
  min-width: 50px;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
  border-radius: 5px;
}

#workspaces button:hover {
  background-color: @secondary;
  color: @surface;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
}

#workspaces button.urgent {
  background-color: @error;
  color: @surface;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

@keyframes blink {
  to {
    color: @primary;
    background-color: @surface;
  }
}

#custom-screenrecording.active {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
