@define-color bg0 #dce0e8;
@define-color bg1 #e6e9ef;
@define-color bg2 #eff1f5;
@define-color bg3 #ccd0da;
@define-color bg4 #bcc0cc;

@define-color red #d20f39;
@define-color orange #fe640b;
@define-color yellow #df8e1d;
@define-color green #40a02b;
@define-color aqua #04a5e5;
@define-color blue #1e66f5;
@define-color purple #8839ef;

@define-color fg #4c4f69;

@define-color grey0 #acb0be;
@define-color grey1 #9ca0b0;
@define-color grey2 #8c8fa1;
