@import "styles/buttons.css";
@import "colors/colors.css";

window {
  font-family: "Adwaita Sans", "GeistMono Nerd Font Propo";
  font-size: 1.5rem;
  color: @fg; /* text */
  background-color: alpha(@bg0, 0.85);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  background-color: transparent;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.15, 0, 0.1, 1);
  box-shadow: 0 0 10px 2px transparent;
  border-radius: 7rem;
  border-style: solid;
  border-width: 0;
  border-color: alpha(@bg0, 0.85);
  margin: 10px;
}

button:focus {
  box-shadow: none;
  outline-style: none;
  background-size: 50%;
  background-color: @purple;
  color: @fg;
}

button:hover {
  background-size: 50%;
  outline-style: none;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
  background-color: @purple;
  color: @fg;
}
