* {
    background:                  rgba(16, 20, 24, 0.8);
    background-alt:              #42474e;
    foreground:                  #e1e2e8;
    selected:                    #a0cafd;
    active:                      #a0cafd;
    urgent:                      #ffb4ab;
}
