* {
    background:                  rgba(15, 20, 23, 0.8);
    background-alt:              #40484c;
    foreground:                  #dee3e6;
    selected:                    #8ad0ee;
    active:                      #8ad0ee;
    urgent:                      #ffb4ab;
}
