@import "colors/colors.css";

* {
  border: none;
  border-radius: 0;
  font-family:
    "Adwaita Sans", "JetBrainsMono Nerd Font Propo", Roboto, Helvetica, Arial,
    sans-serif;
  font-weight: 600;
  font-size: 16px;
}

window#waybar {
  background: @bg0;
}

tooltip {
  background: @bg0;
  border: 1px solid rgba(100, 114, 125, 0.5);
  border-radius: 10px;
}

tooltip label {
  color: white;
}

.modules-left {
  margin-left: 15px;
}

.modules-right {
  margin-right: 15px;
}

#custom-media,
#tray,
#language,
#custom-expand-icon,
#bluetooth,
#custom-screenrecording-indicator,
#custom-updates,
#custom-vpn,
#custom-launcher,
#clock,
#workspaces,
#custom-notification,
#custom-media,
#custom-pacman,
#custom-weather,
#pulseaudio,
#battery,
#network,
#power-profiles-daemon {
  background-color: @bg0;
  margin-right: 10px;
  padding: 0 5;
  color: @blue;
}

#network {
  color: @yellow;
}

#clock {
  color: @purple;
}

#bluetooth {
  color: @blue;
}

#pulseaudio {
  color: @aqua;
}

#battery {
  color: @green;
}

#custom-vpn {
  color: @orange;
}

#custom-launcher {
  color: @blue;
}

#custom-weather {
  color: @purple;
}

#custom-screenrecording-indicator {
  color: @red;
}

#power-profiles-daemon {
  margin: 0;
}

#custom-launcher {
  font-size: 24px;
  margin-right: 1;
}

#workspaces {
  padding: 8px 5px;
  border-radius: 16px;
  background-color: @bg0;
}

#workspaces button {
  all: initial;
  padding: 0 0px;
  margin: 0 1px;
  background-color: @bg0;
}

#workspaces button.empty {
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
}

#workspaces button.active {
  color: @bg0;
  background-color: @green;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
  border-radius: 0px;
}

#workspaces button:hover {
  transition: all 0.3s ease-in-out;
  background-color: @aqua;
  color: @bg4;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
}

#workspaces button.urgent {
  background-color: @bg4;
  color: @red;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

@keyframes blink {
  to {
    color: @bg0;
    background-color: @bg0;
  }
}

@keyframes critical {
  to {
    color: @red;
    background-color: @bg0;
  }
}

#custom-screenrecording-indicator.active {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical {
  animation-name: critical;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
